@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --colorAmarillo: #f1b92e;
  --colorAmarilloo: rgba(255, 150, 51, 0.05);
  --colorAmarillo2: rgba(255, 150, 51, 0.2);
  --colorAmarillo3: rgb(255, 149, 51, 0.5);
  --colorAmarillo4: rgb(255, 149, 51, 0.8);
  --colorAmarillo5: rgb(255, 149, 51);
  

  --colorNegro1: #000;
  --colorNegro2: #121212;
  --colorNegro3: #1c1c1c;

  --colorBlanco: #fff;
  --colorBlanco2: #f6f6f6;
  --colorBlanco3: #F7F9FC;

  --colorGris1: #333;
  --colorGris2: #777;
  --colorGris3: #555;

  --colorAzul: rgba(51, 102, 255, 0.2);
  --colorAzul2: rgb(51, 102, 255, 0.5);
  --colorAzul3: rgb(51, 102, 255);

  --colorRojo: hsla(356, 100%, 60%, 0.2);
  --colorRojo2: hsla(356, 100%, 60%, 0.5);
  --colorRojo3: hsla(356, 100%, 60%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--colorNegro3);
}

#body-home {
  display: grid;
  grid-template-rows: 1fr;
}

main{
  border-top: .7rem solid #1c1c1c; 
  border-right: 1.1rem solid #1c1c1c; 
  border-bottom: .7rem solid #1c1c1c;
  border-left: none;
  border-radius: 3.5rem;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 10% 20% 35% 33%;
  margin-left: 18.75rem;
  padding-left: 2rem;
  background-color: var(--colorBlanco);
  
  & > .header {
    grid-column: 1/3;
  }
  & > .div-addCliente{
    grid-column: 1/3;
  }
}

/** LOGIN **/
.login-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.login-container {
  width: 80%;
  max-width: 900px;
  height: 90%;
  max-height: 500px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-panel {
  width: 50%;
}

.left-panel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.right-panel {
  width: 50%;
  height: 100%;
  background-color: var(--colorBlanco);
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.p-log-reg{
  margin-top: 15px;

  & a{
    text-decoration: none;
    color: var(--colorAmarillo);
  }
}

@media (max-width: 800px) {
  .login-container{
    border-radius: 10px;
  }
  .left-panel {
    display: none;
    border-radius: 10px;
  }
  .right-panel {
    width: 90%;
    height: 120%;
    max-height: 500px;
    background-color: var(--colorBlanco);
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px ;
  }
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.2rem;

  img {
    width: 100px;
  }
}

h2 {
  color: var(--colorGris1);
  margin-bottom: 10px;
}

p {
  color: var(--colorGris2);
  margin-bottom: 20px;
}

form {
  display: flex;
}

.div-labels-forms {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

label {
  font-size: 14px;
  color: var(--colorGris3);
  margin-bottom: 5px;
  width: 49%;
  padding: 0.5rem;
  font-weight: bold;
}

.label-direccion {
  width: 98%;
}

input {
  width: 100%;
  height: 40px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: ease-in-out 200ms;
}

input:hover{
  border-color: var(--colorAmarillo);
  transition: ease-in-out 170ms;
}

input:focus{
  background-color: var(--colorAmarilloo);
  border-color: var(--colorAmarillo);
  outline: none;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: ease-in-out 230ms;
}

button:hover {
  background-color: var(--colorAmarillo4);
}

/*! PANEL/HOME **/
.div-panel-administracion {
  display: grid;
  grid-column: 1 / 2;
  grid-row: 2/3;
  width: 95%;
  /* height: 80%; */

  .div-botones-administracion {
    display: flex;
    justify-content: space-between;
    gap: .7rem;
    margin-right: 5px;

    button {
      display: flex; 
      gap: 5px;
      border-radius: .5rem;
      text-align: center;
      justify-content: center;
      align-items: center;
      padding: 10px;
      border: none;
      transition: ease-in-out 170ms;
      font-weight: 600;
    }

    & button:nth-child(1) {
      background-color: var(--colorAzul);
      color: var(--colorAzul3);
    }
    & button:nth-child(2) {
      background-color: var(--colorRojo);
      color: var(--colorRojo3);
    }
    & button:nth-child(3) {
      background-color: var(--colorAmarillo2);
      color: var(--colorAmarillo4);
    }
    & button:nth-child(1):hover {
      background-color: var(--colorAzul2);
    }
    & button:nth-child(2):hover {
      background-color: var(--colorRojo2);
    }
    & button:nth-child(3):hover {
      background-color: var(--colorAmarillo3);
    }
  }
}

.div-taxistas-mes {
  grid-column: 2/3;
  grid-row: 2/4;
  border-radius: .5rem;
  margin-right:2rem;
  padding: 5px;
  gap: 1rem;

  & h3{
    padding-left: .5rem;
    display: flex;
    align-items: center;
    text-align: center;
    
    & img{
      padding-left: 6.5rem;
    }
  }

  & p{
    text-align:start;
    margin-left: 1rem;
    margin-bottom: 0;
  }

  & div{
    padding: .5rem;
    border-radius: .3rem;
    margin-bottom: 1rem;
    background-color: var(--colorBlanco3);  
    display: flex;
  
    & div{
      display: flex;
      flex-direction: column;
      margin: 0;
    }

    & img{
      padding: .2rem;
      text-align: center;
    } 
  }
    
  & h3{
    text-align: center;
    margin-top: 7px;
    margin-bottom: 1rem;
  }
  & .nombre-taxistas-mes{
    font-weight: 600;
    margin: 0;
  }

  & .num-taxistas-mes{
    font-weight: 300;
    margin: 0;
  }
}

.div-botones-administracion {
  display: flex;
}

.header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2.1rem 1rem 0;
}

.exit-img {
  right: 4;
}

.div-addCliente{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: .7rem;
  grid-row: 2/3;
}

.boton-add-cliente{
  text-align: center;
  padding: 10px;
  border-radius: .5rem;
  border: none;
  width: 150px;
  height: 50px;
  margin-right: 15px;
  background-color: var(--colorAmarillo);
}
.boton-add-cliente:hover{
  background-color: var(--colorAmarillo3);
}

/*Taxis*/
.div-addTaxi{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: .7rem;
  grid-row: 2/3;
  grid-column: 1/3;
}

.boton-add-Taxi{
  text-align: center;
  padding: 10px;
  border-radius: .5rem;
  border: none;
  width: 150px;
  height: 50px;
  margin-right: 15px;
  background-color: var(--colorAmarillo);
}
.boton-add-Taxi:hover{
  background-color: var(--colorAmarillo3);
}

/** SIDE BAR **/
.sidebar-container {
  position: fixed;
  background: #1c1c1c;
  width: 100%;
  max-width: 300px;
  height: 100%;
  padding-left: 1rem;
  padding-top: 1rem;
}

.div-usuario {
  padding: 1rem;
}
.user-name {
  color: white;
}
.user-num {
  color: grey;
}

.menu-container nav {
  padding-top: 2rem;
}

.menu-container nav a {
  display: block;
  text-decoration: none;
  padding: 1rem;
  color: #c7c7c7;
  display: flex;
  align-items: center;
  text-align: center;
}

.menu-container nav a img {
  font-size: 25px;
  align-items: center;
  margin-right: .5rem;
}

.menu-container nav a:hover {
  color: #fcc652;
}

.config-container {
  position: fixed;
  bottom: 0;
}

.config-container nav a {
  display: block;
  text-decoration: none;
  padding: 1rem;
  color: #c7c7c7;
  display: flex;
  align-items: center;
  text-align: center;
}

.config-container nav a:hover {
  color: #fcc652;
}

.a-menu{
  font-weight: 600;
}
.a-menu.active {
  background-color: #fff;
  color: #ffae00;
  border-bottom-left-radius: 2rem;
  border-top-left-radius: 2rem;
  font-weight: 600;
}

.above-active {
  border-bottom-right-radius: 5px;
}

.below-active {
  border-top-right-radius: 5px;
}

select{
  color: var(--colorAmarillo4);
  padding: .5rem 1rem;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer; 
  border-radius: .4rem; 
  font-weight: bold;
}

/*? ESTILO TABLA HOME/PANEL */
.div-tabla-panel {
  overflow-x: auto;
  overflow-y: auto; 
  margin-right: 1rem;
  display: grid;
  grid-row: 4/5;
  grid-column: 1/3;
}
#table-panel{
  table-layout: auto;
  border-collapse: collapse;
  font-size: 1rem;
  text-align: center;
}
#table-panel th, td {
  padding: 2px;
}
#table-panel tr {
  padding: 2px;
}
#table-panel th{
  font-size: 1rem;
  text-align: center;
  padding: 1rem 0 1rem 0;
}
#table-panel th{
  position: sticky;
  top: 0;
  z-index: 1; 
  padding: 1rem 0;
  background-color: #f4f4f4;
  border-radius: .2rem;
  box-sizing: border-box;
}

#table-panel, #table-panel th, #table-panel td {
  border: none;
}

/*! VIAJES **/

/*? BOTON SELECT */
.btn-select-turno-fecha{
  display: flex;
  flex-direction: row;
  justify-content:start;
  width: 100%;
  height: 40px;
  grid-row: 2/3;
}
.selects{
  display: flex;
  flex-direction: row;
}
.selects select{
  margin-right: 1rem;
}

/*? TABLA VIAJES */
.div-tabla-viajes{
  width: 100%;
  min-width: 1000px;
  height: 100%;
  grid-column: 1/2;
  grid-row: 3/5;
  display: block;
  overflow-x:auto;
  overflow-y:auto;
}
#tabla-viajes {
  table-layout: auto;
  border-collapse: collapse;
  font-size: 1rem;
  text-align: center;
}

#tabla-viajes th, td {
  padding: 15px;
  border-bottom: 1px solid #ddd;
}
#tabla-viajesth button{
  border-collapse: collapse;
  font-size: 1rem;
  text-align: left;
  padding: 1rem 0 1rem 0;
}
#tabla-viajes th{
  position: sticky;
  top: 0;
  z-index: 1; 
  padding: 1rem 0;
}
#tabla-viajes th,  button{
  background-color: #f4f4f4;
  border-radius: .2rem;
  box-sizing: border-box;
}
#tabla-viajes th:nth-child(3), #tabla-viajes td:nth-child(3) {
    width: 10rem;
}
#tabla-viajes th:nth-child(4), #tabla-viajes td:nth-child(4) {
  width: 10rem;
}
#tabla-viajes th:nth-child(5), #tabla-viajes td:nth-child(5) {
  width: 10rem;
}
.income {
  color: #28a745;
  font-weight: bold;
}

/*? TABLA CLIENTES*/
/* .div-addCliente{

} */
.tabla-clientes {
  width: 100%;
  min-width: 1000px;
  height: 100%;
  min-height: 400px;
  grid-column: 1/2;
  grid-row: 3/4;
  overflow-x:auto;
  overflow-y:auto;
}
.tabla-clientes table {
  border-collapse: collapse;
  margin: 1rem 0;
  font-size: 1rem;
  text-align: center;
  width: 100%;
}
.tabla-clientes table th {
  z-index: 1;
  position: sticky;
}

.columnas-tabla-clientes{
  background-color: #f4f4f4;
  height: 40px;
}
.tabla-clientes th:last-child, .tabla-clientes td:last-child {
  border-right: none;
}
.tabla-clientes th button {
  border-collapse: collapse;
  font-size: 1rem;
  text-align: center;
  padding: 1rem 0 1rem 0;
  background-color: #f4f4f4;
  border-radius: .2rem;
  box-sizing: border-box;
}
.tabla-clientes th:nth-child(3), .tabla-clientes td:nth-child(3) {
  width: 10rem;
}
.tabla-clientes th:nth-child(4), .tabla-clientes td:nth-child(4) {
  width: 10rem;
}
.tabla-clientes th:nth-child(5), .tabla-clientes td:nth-child(5) {
  width: 10rem;
}
.tabla-clientes .income {
  color: #28a745;
  font-weight: bold;
}

.tabla-clientes, .tabla-clientes th, .tabla-clientes td {
  border: none;
}
.boton-editar{
  background-color: white;
  width: 40px;
}
.boton-editar:hover{
  background-color: #dddada;
}

.boton-papelera{
  background-color: white;
  width: 40px;
}
.boton-papelera:hover{
  background-color: #dddada;
}

.div-cantidad-clientes{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.div-paginas{
  display: flex;
  align-items: center;

}
.paginas{
  margin: 3px;
  height: 2.7rem;
  width: 2.7rem;
}
.paginas:hover{
  cursor: pointer;
  background-color: white
}
.pasar-paginas{
  margin: 3px;
  height: 2.7rem;
  width: 2.7rem;
}
.active {
  background-color: var(--colorAmarillo4);
  color: black;
}

/*-----------ESTILOS MODAL-------*/
/*ESTILOS DEL MODAL*/
.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.modal{
  max-width: 50%;
  border: none;
  border-radius: 10px;
  height: 65%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-30%, -50%);
  width: 50%;

  form{
      display: flex;
      flex-direction: column;

      input{ 
          padding: 5px;
          margin-bottom: 10px;
          width: 100%;
      }
  }
}
.div-titulo-modal{
  padding: 1rem;
}
.boton-enviar-modal {
  width: 50%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: ease-in-out 230ms;
}

.boton-enviar-modal:hover {
  background-color: var(--colorAmarillo4);
}


/*Tabla Taximetristas*/
.tabla-taximetristas {
  width: 100%;
  min-width: 1000px;
  height: 100%;
  min-height: 400px;
  align-items: center;
  justify-content: center;
  grid-column: 1/2;
  grid-row: 3/4;
}
.tabla-taximetristas table {
  border-collapse: collapse;
  margin: 1rem 0;
  font-size: 1rem;
  text-align: center;
  width: 100%;
}
.columnas-tabla-taximetristas{
  background-color: #f4f4f4;
  height: 40px;
}
.tabla-taximetristas th:last-child, .tabla-taximetristas td:last-child {
  border-right: none;
}
.tabla-taximetristas th button {
  border-collapse: collapse;
  font-size: 1rem;
  text-align: center;
  padding: 1rem 0 1rem 0;
  background-color: #f4f4f4;
  border-radius: .2rem;
  box-sizing: border-box;
}
.tabla-taximetristas th:nth-child(3), .tabla-taximetristas td:nth-child(3) {
  width: 10rem;
}
.tabla-taximetristas th:nth-child(4), .tabla-taximetristas td:nth-child(4) {
  width: 10rem;
}
.tabla-taximetristas th:nth-child(5), .tabla-taximetristas td:nth-child(5) {
  width: 10rem;
}
.tabla-taximetristas .income {
  color: #28a745;
  font-weight: bold;
}

.tabla-taximetristas, .tabla-taximetristas th, .tabla-taximetristas td {
  border: none;
}
.boton-info{
  background-color: white;
  width: 40px;
}
.boton-info:hover{
  background-color: #dddada;
}

.boton-papelera{
  background-color: white;
  width: 40px;
}
.boton-papelera:hover{
  background-color: #dddada;
}

.div-cantidad-taximetristas{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*INGRESOS*/

/*? BOTON SELECT */
.btn-select-filtro{
  display: flex;
  flex-direction: column;
  justify-content:center;
  width: 100%;
  grid-row: 2/3;
}
.selects{
  display: flex;
  flex-direction: row;
}
.selects select{
  margin-right: 1rem;
}
.btn-aplicar-filtro{
  width: 8rem;
  padding: 10px;
  background-color: var(--colorAmarillo4);
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: ease-in-out 230ms;
}

.btn-aplicar-filtro:hover{
  background-color: var(--colorAmarillo5);
}

/*? TABLA INGRESOS */
.div-tabla-ingresos{
  width: 100%;
  min-width: 1000px;
  height: 100%;
  min-height: 200px;
  grid-column: 1/2;
  grid-row: 3/4;
}
#tabla-ingresos {
  border-collapse: collapse;
  margin: 1rem 0;
  font-size: 1rem;
  text-align: left;
  width: 100%;
}
#tabla-ingresos th, td {
  padding: 15px;
}
#tabla-ingresossth button{
  border-collapse: collapse;
  font-size: 1rem;
  text-align: left;
  padding: 1rem 0 1rem 0;
}
#tabla-ingresos th,  button{
  background-color: #f4f4f4;
  border-radius: .2rem;
  box-sizing: border-box;
}
#tabla-ingresos th:nth-child(3), #tabla-ingresos td:nth-child(3) {
    width: 10rem;
}
#tabla-ingresos th:nth-child(4), #tabla-ingresos td:nth-child(4) {
  width: 10rem;
}
#tabla-ingresos th:nth-child(5), #tabla-ingresos td:nth-child(5) {
  width: 10rem;
}
.income {
  color: #28a745;
  font-weight: bold;
}
.div-total-turnos{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* TABLA TAXIS*/
.tabla-Taxis {
  width: 100%;
  min-width: 1000px;
  height: 100%;
  min-height: 400px;
  align-items: center;
  justify-content: center;
  grid-column: 1/2;
  grid-row: 3/4;
}
.tabla-Taxis table {
  border-collapse: collapse;
  margin: 1rem 0;
  font-size: 1rem;
  text-align: center;
  width: 100%;
}
.columnas-tabla-Taxis{
  background-color: #f4f4f4;
  height: 40px;
}
.tabla-Taxis th:last-child, .tabla-Taxis td:last-child {
  border-right: none;
}
.tabla-Taxis th button {
  border-collapse: collapse;
  font-size: 1rem;
  text-align: center;
  padding: 1rem 0 1rem 0;
  background-color: #f4f4f4;
  border-radius: .2rem;
  box-sizing: border-box;
}
.tabla-Taxis th:nth-child(3), .tabla-Taxis td:nth-child(3) {
  width: 10rem;
}
.tabla-Taxis th:nth-child(4), .tabla-Taxis td:nth-child(4) {
  width: 10rem;
}
.tabla-Taxis th:nth-child(5), .tabla-Taxis td:nth-child(5) {
  width: 10rem;
}
.tabla-Taxis .income {
  color: #28a745;
  font-weight: bold;
}

.tabla-Taxis, .tabla-Taxis th, .tabla-Taxis td {
  border: none;
}
.boton-editar{
  background-color: white;
  width: 40px;
}
.boton-editar:hover{
  background-color: #dddada;
}

.boton-papelera{
  background-color: white;
  width: 40px;
}
.boton-papelera:hover{
  background-color: #dddada;
}

.div-cantidad-Taxis{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
