/* -----------------LOG IN------------------- */









/* -----------------REGISTER------------------- */
#form-register{
display: grid;
grid-template-columns: 1fr 1fr; 


& #nombre nombre{
    grid-column: 1/2;
    grid-row: 1/2;
}

& #apellido apellido{
    grid-column: 2/3;
    grid-row: 1/2;
}

& #usuario user{
    grid-column: 1/3;
    grid-row: 3/4;

}

& #contrasenia contrasenia{
    grid-column: 1/3;
    grid-row: 4/5;
}

& envio{
    grid-column: 1/3;
    grid-row: 5/6;
}
}