@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --colorAmarillo: #f1b92e;
  --colorAmarillo1: #ffee55d7;
  --colorAmarillo0: #f1cd2e;
  --colorAmarilloo: rgba(255, 150, 51, 0.05);
  --colorAmarillo2: rgba(255, 150, 51, 0.2);
  --colorAmarillo3: rgb(255, 149, 51, 0.5);
  --colorAmarillo4: rgb(255, 149, 51, 0.8);
  --colorAmarillo5: rgb(255, 149, 51);
  --colorAmarillo6: rgb(252, 210, 74);
  
  --colorNegro1: #000;
  --colorNegro2: #121212;
  --colorNegro3: #1c1c1c;

  --colorBlanco: #fff;
  --colorBlanco2: #f6f6f6;
  --colorBlanco3: #F7F9FC;

  --colorGris1: #333;
  --colorGris2: #777;
  --colorGris3: #555;
  --colorGris4: #cccccc;

  --colorAzul: rgba(51, 102, 255, 0.2);
  --colorAzul2: rgb(51, 102, 255, 0.5);
  --colorAzul3: rgb(51, 102, 255);

  --colorRojo: hsla(356, 100%, 60%, 0.2);
  --colorRojo2: hsla(356, 100%, 60%, 0.5);
  --colorRojo3: hsla(356, 100%, 60%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--colorNegro3);
}

#body-home {
  display: grid;
  grid-template-rows: 1fr;
}

main{
  border-top: .7rem solid #1c1c1c; 
  border-right: 1.1rem solid #1c1c1c; 
  border-bottom: .7rem solid #1c1c1c;
  border-left: none;
  border-radius: 3.5rem;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 10% 20% 30% 38%;
  margin-left: 18.75rem;
  padding-left: 2rem;
  background-color: var(--colorBlanco);
  
  & > .header {
    grid-column: 1/3;
  }
  & > .div-addCliente{
    grid-column: 1/3;
  }
}

.respuestaAJAX{
  display: none;
  z-index: 99999;
  position: fixed;
  top: 10px;
  left: 50%;

  p{
      margin: 0;
      display: inline-block;
      background-color: #DFDED4;
      border: 1px solid #DFDED4;
      padding: 10px;
      border-radius: 9px;
      padding-left: 10px;
      z-index: 99999;
  }
}


.respuestaAJAX-Modal {
  display: none;
  z-index: 99999;
  position: absolute;  
  left: 50%;
  transform: translateX(-50%);  
  top: 80%; 
  width: auto;
  text-align: center;  
}

.respuestaAJAX-Modal p {
  margin: 0;
  background-color: #DFDED4;
  border: 1px solid #DFDED4;
  padding: 10px;
  border-radius: 9px;
}





.success-message{
  color: #34C759;
  z-index: 99999;
}
.error-message{
  color: #E74C3C;
  z-index: 99999;
}

/** LOGIN **/
.login-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.login-container {
  width: 80%;
  max-width: 900px;
  height: 90%;
  max-height: 500px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-panel {
  width: 50%;
}

.left-panel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.right-panel {
  width: 50%;
  height: 100%;
  background-color: var(--colorBlanco);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn_flecha_volver{
  width: 50px;
}

.btn-inicioSesion{
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-tengo-cuenta{
  display: flex;
  align-items: baseline;

  a{
    text-decoration: none;
    font-weight: bold;
  }
}
.p_register{
  margin-right: 1rem;
}


.p-log-reg{
  margin-top: 15px;
  margin-right: 1rem;

  & a{
    text-decoration: none;
    color: var(--colorAmarillo);
  }
}

.switch_idioma_index{
  width: 8rem;
  height: 4rem;
  border-radius:7px;
  border: none;
  background-color: var(--colorAmarillo5);
  color: white;
  top: 1rem;
  right: 1rem;
  position: fixed;
}

.switch_idioma_index:hover{
  background-color: var(--colorAmarillo3);
  color: black;
}

@media (max-width: 800px) {
  .login-container{
    border-radius: 10px;
  }
  .left-panel {
    display: none;
    border-radius: 10px;
  }
  .right-panel {
    width: 90%;
    height: 120%;
    max-height: 500px;
    background-color: var(--colorBlanco);
    padding: rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px ;
  }
}

.div-btn-logo{
  display: flex;

}

.logo {
  display: flex;
  align-items: flex-start;
  justify-content: start;
  margin-bottom: 1.2rem;

  img {
    width: 100px;
  }

  .img_flecha{
    width: 80px;
  }

  button{
    margin-right: 6rem;
    width: 50px;
    display: flex;
    justify-content: center;
    background-color: white;
  }

  button:hover{
    background-color: white;
  }
}

.logo-login{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.2rem;

  img {
    width: 100px;
  }
}

h2 {
  color: var(--colorGris1);
  margin-bottom: 10px;
}

p {
  color: var(--colorGris2);
  margin-bottom: 20px;
}


.div-labels-forms {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
}

.btn-submit-register{
  display: flex;
}

.div-labels-forms-register{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  margin-right: 1rem;
  
  label{
    padding: 0;
  }
  input{
    width: 100%;
  }
}


.btn_volver{
  width: 65px;
  top: 3rem;
  left: 5rem;
  bottom: 3rem;
}

.btn_submit_register{
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1/3;

  button{
    width: 50%;
  }
}

label {
  font-size: 14px;
  color: var(--colorGris3);
  margin-bottom: 5px;
  width: 49%;
  padding: 0.5rem;
  font-weight: bold;
}

.label-direccion {
  width: 98%;
}

input {
  width: 100%;
  height: 40px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: ease-in-out 200ms;
}

input:hover{
  border-color: var(--colorAmarillo);
  transition: ease-in-out 170ms;
}

input:focus{
  background-color: var(--colorAmarilloo);
  border-color: var(--colorAmarillo);
  outline: none;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: ease-in-out 230ms;
}

button:hover {
  background-color: var(--colorAmarillo4);
}


/* MENSAJE CONTROL DE ERRORES */
.message {
  display: none; /* Oculto por defecto */
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  color: #fff;
}

.success {
  background-color: #4CAF50; /* Verde para mensajes de éxito */
}

.error {
  background-color: #F44336; /* Rojo para mensajes de error */
}

/*! PANEL/HOME **/
.div-panel-administracion {
  display: grid;
  grid-column: 1 / 2;
  grid-row: 5;
  width: 95%;

  .div-botones-administracion {
    display: flex;
    justify-content: space-between;
    gap: .7rem;
    margin-right: 5px;

    button {
      display: flex; 
      gap: 5px;
      border-radius: .5rem;
      text-align: center;
      justify-content: center;
      align-items: center;
      padding: 10px;
      border: none;
      transition: ease-in-out 170ms;
      font-weight: 600;
    }

    & button:nth-child(1) {
      background-color: var(--colorAzul);
      color: var(--colorAzul3);
    }
    & button:nth-child(2) {
      background-color: var(--colorRojo);
      color: var(--colorRojo3);
    }
    & button:nth-child(3) {
      background-color: var(--colorAmarillo2);
      color: var(--colorAmarillo4);
    }
    & button:nth-child(1):hover {
      background-color: var(--colorAzul2);
    }
    & button:nth-child(2):hover {
      background-color: var(--colorRojo2);
    }
    & button:nth-child(3):hover {
      background-color: var(--colorAmarillo3);
    }
  }
}

.div-taxistas-mes {
  display: grid;
  grid-column: 1/2;
  grid-row: 2;
  border-radius: .5rem;

  & h3{
    display: flex;
    align-items: center;
    text-align: center;
  }

  & p{
    margin-left: 1rem;
    margin-bottom: 0;
    color: black;
  }
  
  & div{
    display: flex;
    border-radius: .3rem;
    margin-bottom: 1rem;
    gap: 1rem;
    justify-content: space-between;
    

    & div{
      padding: .5rem;
      height: 70px;
      width: 200px;
      display: flex;
      flex-direction: column;
      margin: 0;
      background-color: var(--colorAmarillo6);  
    }

  }
    
  & h3{
    text-align: center;
    margin-top: 7px;
    margin-bottom: 1rem;
  }
  & .nombre-taxistas-mes{
    font-weight: 600;
    margin: 0;
  }

  & .num-taxistas-mes{
    font-weight: 300;
    margin: 0;
  }
}

.div-botones-administracion {
  display: flex;
}

.header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2.1rem 1rem 0;
}

.exit-img {
  right: 4;
}

.div-addCliente{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: .7rem;
  grid-row: 2/3;
}

.boton-add-cliente{
  text-align: center;
  padding: 10px;
  border-radius: .5rem;
  border: none;
  width: 150px;
  height: 50px;
  margin-right: 1rem;
  background-color: var(--colorAmarillo5);
}
.boton-add-cliente:hover{
  background-color: var(--colorAmarillo3);
}

/*Taxis*/
.div-addTaxi{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: .7rem;
  grid-row: 2/3;
  grid-column: 1/3;
}

.boton-add-Taxi{
  text-align: center;
  padding: 10px;
  border-radius: .5rem;
  border: none;
  width: 150px;
  height: 50px;
  margin-right: 15px;
  background-color: var(--colorAmarillo5);
}
.boton-add-Taxi:hover{
  background-color: var(--colorAmarillo3);
}

/** SIDE BAR **/
.sidebar-container {
  position: fixed;
  background: #1c1c1c;
  width: 100%;
  max-width: 300px;
  height: 100%;
  padding-left: 1rem;
  padding-top: 1rem;
}

.div-usuario {
  padding: 1rem;
}
.user-name {
  color: white;
}
.user-num {
  color: grey;
}

/* .menu-container nav {
  padding-top: 1rem;
} */

.menu-container nav a {
  display: block;
  text-decoration: none;
  padding: 1rem;
  color: #c7c7c7;
  display: flex;
  align-items: center;
  text-align: center;
}

.menu-container nav a img {
  font-size: 25px;
  align-items: center;
  margin-right: .5rem;
}

.menu-container nav a:hover  {
  color: #fcc652;
}

.config-container {
  position: fixed;
  bottom: 0;
}

.config-container nav a {
  display: block;
  text-decoration: none;
  padding: 1rem;
  color: #c7c7c7;
  display: flex;
  align-items: center;
  text-align: center;
}

.config-container nav a:hover {
  color: #fcc652;
}

.btn-config{
  margin-top: 3rem;
}

.a-menu{
  font-weight: 600;
}
.a-menu.active  {
  background-color: #fff;
  color: #ffae00;
  border-bottom-left-radius: 2rem;
  border-top-left-radius: 2rem;
  font-weight: 600;
}


.above-active {
  border-bottom-right-radius: 5px;
}

.below-active {
  border-top-right-radius: 5px;
}

select{
  color: var(--colorAmarillo4);
  padding: .5rem 1rem;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer; 
  border-radius: .4rem; 
  font-weight: bold;
}

.div-h3-panel{
  margin-top: 1rem;
  display: grid;
  grid-row: 3/5;
  grid-column: 1/3;
}
/*? ESTILO TABLA HOME/PANEL */
.div-tabla-panel {
  margin-top: 3rem;
  overflow-x: auto;
  overflow-y: auto; 
  margin-right: 1rem;
  display: grid;
  grid-row: 3/5;
  grid-column: 1/3;
  height: 350px; 
}

#table-panel {
  table-layout: auto;
  border-collapse: collapse;
  font-size: 1rem;
  text-align: center;
  height: 100%; 
}

#table-panel th, td {
  padding: 2px;
}

#table-panel tr {
  padding: 2px;
}

#table-panel th {
  font-size: 1rem;
  text-align: center;
  padding: 1rem 0;
  position: sticky;
  top: 0;
  z-index: 1; 
  background-color: #f4f4f4;
  border-radius: .2rem;
  box-sizing: border-box;
}

#table-panel, #table-panel th, #table-panel td {
  border: none;
}


/*! VIAJES **/
/*? BOTON SELECT */
.btn-select-turno-fecha{
  display: flex;
  flex-direction: row;
  justify-content:start;
  width: 100%;
  height: 50px;
  grid-row: 2/3;
  grid-column: 1/2;
  margin-top: 1.5rem;
}
.selects{
  display: flex;
  flex-direction: row;
}
.selects select{
  margin-right: 1rem;
}

/*? TABLA VIAJES */
.div-tabla-viaje {
  overflow-x: auto;
  overflow-y: auto;
  margin-right: 1rem;
  display: grid;
  grid-row: 3/5;
  grid-column: 1/3;
  max-height: 380px;
  height: 380px; 
  align-items: start; 
}
#tabla-viaje{
  table-layout: auto;
  border-collapse: collapse;
  font-size: 1rem;
  text-align: center;
  height: auto;
}
#tabla-viaje th, td {
  padding: 2px;
}
#tabla-viaje td {
  height: 5px;
}
#tabla-viaje tr {
  padding: 2px;
}
#tabla-viaje th{
  font-size: 1rem;
  text-align: center;
  padding: 1rem 0 1rem 0;
}
#tabla-viaje th{
  position: sticky;
  top: 0;
  z-index: 1; 
  padding: 1rem 0;
  background-color: #f4f4f4;
  border-radius: .2rem;
  box-sizing: border-box;
}
#tabla-viaje, #tabla-viaje th, #tabla-viaje td {
  border: none;
}

/*? TABLA CLIENTES*/
/* .tabla-clientes {
  margin-right: 1rem;
  grid-column: 1/3;
  grid-row: 3/4;
  height: 380px;
  overflow-x:auto;
  overflow-y:auto;
}
.tabla-clientes table {
  border-collapse: collapse;
  font-size: 1rem;
  text-align: center;
  width: 100%;
} */
.tabla-clientes {
  overflow-x: auto;
  overflow-y: auto;
  margin-right: 1rem;
  display: grid;
  grid-row: 3/5;
  grid-column: 1/3;
  max-height: 380px;
  height: 380px; 
  align-items: start; 
}
.tabla-clientes table{
  table-layout: auto;
  border-collapse: collapse;
  font-size: 1rem;
  text-align: center;
  height: auto;
}
.tabla-clientes table th{
  position: sticky;
  top: 0;
  z-index: 1; 
  padding: 1rem 0;
  background-color: #f4f4f4;
  border-radius: .2rem;
  box-sizing: border-box;
}
.tabla-clientes table th {
  z-index: 1;
  position: sticky;
}

.columnas-tabla-clientes{
  background-color: #f4f4f4;
  height: 40px;
}
.tabla-clientes th:last-child, .tabla-clientes td:last-child {
  border-right: none;
}
.tabla-clientes th button {
  border-collapse: collapse;
  font-size: 1rem;
  text-align: center;
  padding: 1rem 0 1rem 0;
  background-color: #f4f4f4;
  border-radius: .2rem;
  box-sizing: border-box;
}
.tabla-clientes th:nth-child(3), .tabla-clientes td:nth-child(3) {
  width: 10rem;
}
.tabla-clientes th:nth-child(4), .tabla-clientes td:nth-child(4) {
  width: 10rem;
}
.tabla-clientes th:nth-child(5), .tabla-clientes td:nth-child(5) {
  width: 10rem;
}
.tabla-clientes .income {
  color: #28a745;
  font-weight: bold;
}

.tabla-clientes, .tabla-clientes th, .tabla-clientes td {
  border: none;
}
.boton-editar{
  background-color: white;
  width: 40px;
}
.boton-editar:hover{
  background-color: #dddada;
}

.boton-papelera{
  background-color: white;
  width: 40px;
}
.boton-papelera:hover{
  background-color: #dddada;
}

.div-cantidad-clientes{
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  align-items: center ;
  flex-direction: column;
  display: flex;
  grid-row: 2/3;
}
.div-paginas{
  display: flex;
  align-items: center;

}
.paginas{
  margin: 3px;
  height: 2.7rem;
  width: 2.7rem;
}
.paginas:hover{
  cursor: pointer;
  background-color: white
}
.pasar-paginas{
  margin: 3px;
  height: 2.7rem;
  width: 2.7rem;
}
.active {
  background-color: var(--colorAmarillo4);
  color: black;
}

/*-----------ESTILOS MODAL-------*/
/*ESTILOS DEL MODAL*/
.modal::backdrop {
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.226);
  pointer-events: none;
}

.modal{
  max-width: 50%;
  border: none;
  border-radius: 10px;
  height: 65%;
  padding: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-30%, -50%);
  width: 50%;
  z-index: 3;

  form{
      display: flex;
      flex-direction: column;
      label{ 
          padding: 5px;
          margin-bottom: 10px;
          width: 100%;
          input{
            margin-bottom: 0;
          }
      }
  }
}

.modal-taxistas{
  max-width: 50%;
  border: none;
  border-radius: 10px;
  height: 75%;
  padding: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-30%, -50%);
  width: 50%;
  z-index: 3;

  form{
      display: flex;
      flex-direction: column;
      label{ 
          padding: 5px;
          margin-bottom: 10px;
          width: 100%;
          input{
            margin-bottom: 0;
          }
      }
  }
}



body.modal-open {
  overflow-y: hidden;
}

.div-titulo-modal{
  padding: 1rem;
  display: flex;
  justify-content: space-between;

  .btn-cerrar-modal{
    width: 31px;
    height: 31px;
    background-color: white;
    cursor: pointer;
  }
  .btn-cerrar-modal:hover{
    background-color: #ccc;
  }
}

/* MODAL MODIFICAR */
.modal-modificar::backdrop {
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.226);
  pointer-events: none;
}

.modal-modificar{
  max-width: 50%;
  border: none;
  border-radius: 10px;
  height: 65%;
  padding: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-30%, -50%);
  width: 50%;
  z-index: 3;

  form{
      display: flex;
      flex-direction: column;
      label{ 
          padding: 5px;
          margin-bottom: 10px;
          width: 100%;
          input{
            margin-bottom: 0;
          }
      }
  }
}

body.modal-modificar-open {
  overflow-y: hidden;
}

.div-titulo-modal-modificar{
  padding: 1rem;
  display: flex;
  justify-content: space-between;

  .btn-cerrar-modal-modificar{
    width: 31px;
    height: 31px;
    background-color: white;
    cursor: pointer;
  }
  .btn-cerrar-modal-modificar:hover{
    background-color: #ccc;
  }
}

/* MODAL ELIMINAR */
.modal-eliminar::backdrop{
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.226);
  pointer-events: none;
}

.modal-eliminar{
  max-width: 35%;
  border: none;
  border-radius: 10px;
  height: 28%;
  padding: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-30%, -50%);
  width: 50%;
  z-index: 3;
}

.btns-aceptar-cancelar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
    
    #eliminar_aceptar{
      width: 49%;
    }
    #eliminar_cancelar{
      width: 49%;
    }
}

.div-titulo-modal-eliminar{
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* CSS GENERAL DE LOS MODALS */
.boton-enviar-modal {
  width: 50%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: ease-in-out 230ms;
  background-color: var(--colorAmarillo5);
}

.boton-enviar-modal:hover {
  background-color: var(--colorAmarillo3);
}

.boton-enviar-modal-taxis{
  width: 50%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: ease-in-out 230ms;
  margin-top: 1rem;
  background-color: var(--colorAmarillo5);
}

.boton-enviar-modal-taxis:hover{
  background-color: var(--colorAmarillo3);
  cursor: pointer;
}
.boton-enviar-modal-editar{
  width: 50%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: ease-in-out 230ms;
  margin-top: 1rem;
  background-color: var(--colorAmarillo5);
 }
 
.boton-enviar-modal-editar:hover{
  background-color: var(--colorAmarillo3);
  cursor: pointer;
 }


/*Tabla Taximetristas*/
/* .tabla-taxistas {
  margin-right: 1rem;
  grid-column: 1/3;
  grid-row: 3/4;
  height: 380px;
  overflow-x:auto;
  overflow-y:auto;
}
.tabla-taxistas table {
  border-collapse: collapse;
  font-size: 1rem;
  text-align: center;
  width: 100%;
} */
.tabla-taxistas {
  overflow-x: auto;
  overflow-y: auto;
  margin-right: 1rem;
  display: grid;
  grid-row: 3/5;
  grid-column: 1/3;
  max-height: 380px;
  height: 380px; 
  align-items: start; 
}
.tabla-taxistas table{
  table-layout: auto;
  border-collapse: collapse;
  font-size: 1rem;
  text-align: center;
  height: auto;
}
.tabla-taxistas table th{
  position: sticky;
  top: 0;
  z-index: 1; 
  padding: 1rem 0;
  background-color: #f4f4f4;
  border-radius: .2rem;
  box-sizing: border-box;
}
.tabla-taxistas table th {
  z-index: 1;
  position: sticky;
}

.columnas-tabla-taxistas{
  background-color: #f4f4f4;
  height: 40px;
}
.tabla-taxistas th:last-child, .tabla-taxistas td:last-child {
  border-right: none;
}
.tabla-taxistas th button {
  border-collapse: collapse;
  font-size: 1rem;
  text-align: center;
  padding: 1rem 0 1rem 0;
  background-color: #f4f4f4;
  border-radius: .2rem;
  box-sizing: border-box;
}
.tabla-taxistas th:nth-child(3), .tabla-taxistas td:nth-child(3) {
  width: 10rem;
}
.tabla-taxistas th:nth-child(4), .tabla-taxistas td:nth-child(4) {
  width: 10rem;
}
.tabla-taxistas th:nth-child(5), .tabla-taxistas td:nth-child(5) {
  width: 10rem;
}
.tabla-taxistas .income {
  color: #28a745;
  font-weight: bold;
}

.tabla-taxistas, .tabla-taxistas th, .tabla-taxistas td {
  border: none;
}
.boton-info{
  background-color: white;
  width: 40px;
}
.boton-info:hover{
  background-color: #dddada;
}

.boton-papelera{
  background-color: white;
  width: 40px;
}
.boton-papelera:hover{
  background-color: #dddada;
}

.div-cantidad-taximetristas{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*INGRESOS*/
/*? BOTON SELECT */
.btn-select-filtro{
  display: flex;
  flex-direction: column;
  justify-content:center;
  width: 100%;
  grid-row: 2/3;
}
.selects{
  display: flex;
  flex-direction: row;
}
.selects select{
  margin-right: 1rem;
}
.btn-aplicar-filtro{
  width: 8rem;
  padding: 10px;
  background-color: var(--colorAmarillo4);
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: ease-in-out 230ms;
}

.btn-aplicar-filtro:hover{
  background-color: var(--colorAmarillo5);
}

/*? TABLA INGRESOS */
/* .div-tabla-ingresos{
  display: grid;
  margin-right: 2rem;
  overflow-y: auto;
  overflow-x: auto;
  height: 380px;
  grid-column: 1/3;
  grid-row: 3/5;
}
#tabla-ingresos {
  table-layout: auto;
  border-collapse: collapse;
  font-size: 1rem;
  text-align: center;
  width: 100%;
} */
.div-tabla-ingresos {
  overflow-x: auto;
  overflow-y: auto;
  margin-right: 1rem;
  display: grid;
  grid-row: 3/5;
  grid-column: 1/3;
  max-height: 380px;
  height: 380px; 
  align-items: start; 
}
#tabla-ingresos{
  table-layout: auto;
  border-collapse: collapse;
  font-size: 1rem;
  text-align: center;
  height: auto;
}
#tabla-ingresos th, td {
  padding: 15px;
}
#tabla-ingresos th{
  position: sticky;
  top: 0;
  z-index: 1; 
  padding: 1rem 0;
  background-color: #f4f4f4;
  border-radius: .2rem;
  box-sizing: border-box;
}
#tabla-ingresossth button{
  border-collapse: collapse;
  font-size: 1rem;
  text-align: left;
  padding: 1rem 0 1rem 0;
}
#tabla-ingresos th,  button{
  background-color: #f4f4f4;
  border-radius: .2rem;
  box-sizing: border-box;
}
#tabla-ingresos th:nth-child(3), #tabla-ingresos td:nth-child(3) {
    width: 10rem;
}
#tabla-ingresos th:nth-child(4), #tabla-ingresos td:nth-child(4) {
  width: 10rem;
}
#tabla-ingresos th:nth-child(5), #tabla-ingresos td:nth-child(5) {
  width: 10rem;
}
.income {
  color: #28a745;
  font-weight: bold;
}
.div-total-turnos{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* TABLA TAXIS*/
.tabla-Taxis {
  overflow-y: auto;
  overflow-x: auto;
  margin-right: 1rem;
  display: grid;
  grid-column: 1/3;
  grid-row: 3/5;
  height: 380px;
}
.tabla-Taxis table {
  table-layout: auto;
  border-collapse: collapse;
  font-size: 1rem;
  text-align: center;
  height: 100%;
}
.tabla-Taxis {
  overflow-x: auto;
  overflow-y: auto;
  margin-right: 1rem;
  display: grid;
  grid-row: 3/5;
  grid-column: 1/3;
  max-height: 380px;
  height: 380px; 
  align-items: start; 
}
.tabla-Taxis table {
  table-layout: auto;
  border-collapse: collapse;
  font-size: 1rem;
  text-align: center;
  height: auto;
}
.tabla-Taxis th:last-child, .tabla-Taxis td:last-child {
  border-right: none;
}
.tabla-Taxis th button {
  border-collapse: collapse;
  font-size: 1rem;
  text-align: center;
  padding: 1rem 0 1rem 0;
  background-color: #f4f4f4;
  border-radius: .2rem;
  box-sizing: border-box;
}
.tabla-Taxis th:nth-child(3), .tabla-Taxis td:nth-child(3) {
  width: 10rem;
}
.tabla-Taxis th:nth-child(4), .tabla-Taxis td:nth-child(4) {
  width: 10rem;
}
.tabla-Taxis th:nth-child(5), .tabla-Taxis td:nth-child(5) {
  width: 10rem;
}
.tabla-Taxis .income {
  color: #28a745;
  font-weight: bold;
}
.tabla-Taxis table th {
  z-index: 1;
  top: 0;
  position: sticky;
  background-color: #f4f4f4;
  border-radius: .2rem;
  padding: 1rem 0;
  box-sizing: border-box;
}
.tabla-Taxis, .tabla-Taxis th, .tabla-Taxis td {
  border: none;
}

.boton-editar{
  background-color: white;
  width: 40px;
}
.boton-editar:hover{
  background-color: #dddada;
}

.boton-papelera{
  background-color: white;
  width: 40px;
}
.boton-papelera:hover{
  background-color: #dddada;
}

.div-cantidad-Taxis{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.select-estado{
  width: 100%;
}

/* CONFIGURACIÓN */
.div-configuracion{
  display: grid;
  grid-column: 1 / 3;
  grid-row: 2/4;
  width: 50%;
  height: 50%;
  text-align: center;
  gap: 1rem;

  & #h3_opciones{
    text-align: start;
  }

  & #cerrar_sesion{
    color: red;
  }
}
